* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto", sans-serif;
}

/* HEADER */

.nav {
    background-color: #181818;
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;

}

.nav-list a:hover {
    color: #fff
}

/* END HEADER */

.main {
    width: 100%;
    background-color: #000000;
    height: calc(100vh - 88px);
    background-image: url("images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;

}

.main h1 {
    color: #ffffff;
    font-size: 54px;

}

.main p {
    font-size: 20px;
    font-style: italic;
    color: #1e96FC;
    margin-top: 10px;
    margin-bottom: 35px;

}

.call-to-action {
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
    padding: 14px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.main a{
    text-decoration: none;
    color: #000000;
}

/* END MAIN */