* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body {
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */

.nav {
    background-color: #181818;
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 8;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;

}

.nav-list a:hover {
    color: #fff
}

/* END HEADER */

/* MAIN */

.main {
    width: 100%;
    background-color: #000000;
    height: calc(100vh - 88px);
    background-image: url("images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;

}

.main h1 {
    color: #ffffff;
    font-size: 54px;

}

.main p {
    font-size: 20px;
    font-style: italic;
    color: #1e96FC;
    margin-top: 10px;
    margin-bottom: 35px;

}

.call-to-action {
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
    padding: 14px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}

.call-to-action:hover {
    transform: scale(1.1);

}

.main a {
    text-decoration: none;
    color: #000000;
}

/* END MAIN */

/* ABOUT */

.about {
    background-color: #ffffff;
    width: 100%;
    padding: 5% 5% 15% 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div {
    max-width: 50%;
    padding-right: 40px;
}

.about img {
    max-width: 450px;
    border-radius: 8px;
}

.about div h2 {
    font-size: 32px;
    margin-bottom: 14px;
}

/* END ABOUT */

/* PROJECTS */

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}

.projects h2 {
    font-size: 35px;
    margin: 10px 0px;
}

.projects p {
    font-size: 28px;
    margin: 15px 0px;
    font-style: italic;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.project-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.9s;

}

.project-grid img:hover {
    opacity: 1;
}

.action {
    background-color: #000000;
    color: #ffffff;
    font-size: 28px;
    border: 0;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    padding: 15px;
    opacity: 0.7;
    transition: 1s;
}

.action:hover {
    opacity: 1;
}

/* END PROJECTS */

/* FOOTER */

footer {
    width: 100%;
    background-color: #181818;
    color: #ffffff;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: auto;
}

footer p {
    margin-left: 20px;

}

footer a {
    text-decoration: none;
    color: #ffffff;
}

/* END FOOTER */